@{
    ViewBag.Title = "Home Page";
}
<img class="d-block w-100" src="https://assets-in.bmscdn.com/discovery-catalog/events/et00122562-gupycxftlp-landscape.jpg" alt="">
<div class="jumbotron">
    <h1>Vidli - Movie Rentals</h1>
    <p class="lead">Vidli is the leading blockbuster movie rental store arised from massive protest against online streaming services like  Netflix/Prime after they said that Harambe killing was justified</p>
    <p><a href="https://www.youtube.com/shorts/SXHMnicI6Pg" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

